.wordrupal-top-menu
{
height:28px;
min-height:28px;
width:100%;
min-width:960px;
position:absolute;
top:0px;
left:0px;
border-bottom:solid #393939 1px;
margin:0px;
float:left;
background-color:#464646;
}

.wordrupal-top-menu > li
{
float:left;
padding-right:12px;
padding-left:12px;
list-style:none;
line-height:30px;
font-size:13px;
border-right: 1px solid #333;
}

.wordrupal-top-menu  a
{
color:#cccccc !important;
text-decoration:none;
}





.wordrupal-first-menu
{
position:absolute;
top:60px;
height:70px;
width: 146px;
left:0px;
border-bottom:solid #393939 1px;
margin:0px;
float:left;
background-color:#ffffff;
}

.wordrupal-first-menu > li
{
padding-left:4px;
list-style:none;
line-height:20px;
font-size:12px;
border-right: 1px solid #333;
}

.wordrupal-first-menu  a
{
color:#21759b !important;
text-decoration:none;
}

.wordrupal-first-menu  a:hover, .wordrupal-first-menu  li:hover
{
color:#000000 !important;
background-color:#eaf2fa;
text-decoration:none;
}


.wordrupal-second-menu
{
position:absolute;
top:130px;
left:0px;
width: 146px;
margin:0px;
float:left;
background-color:#ececec;
font-weight: bold;
}

.wordrupal-second-menu > li
{
padding-left:4px;
list-style:none;
height:30px;
font-size:12px;
border-right: 4px solid #dfdfdf;
border-top:solid #f9f9f9 1px;
border-bottom:solid #dfdfdf 1px;
padding: 5px 5px;
font-weight:bold;
}

.wordrupal-second-menu  a
{
color:#21759b !important;
text-decoration:none;
}

.wordrupal-second-menu  a:hover, .wordrupal-second-menu  li:hover
{
color:#ff0000 !important;
background-color:#dfdfdf;
text-decoration:none;
}

#icon1
{
width:20px;height:20px;margin-top:4px;background-image: url(http://andymartha.com/caffeine-monitor/wp-includes/images/admin-bar-sprite.png?d=20111130);background-position: 0px -76px;background-repeat: no-repeat;
}

#icon2
{
width:20px;height:20px;margin-top:4px;background-image: url(http://andymartha.com/caffeine-monitor/wp-includes/images/admin-bar-sprite.png?d=20111130);background-position: -2px -159px;background-repeat: no-repeat;    
}

#icon3
{
width:20px;height:20px;margin-top:4px;background-image: url(http://andymartha.com/caffeine-monitor/wp-includes/images/admin-bar-sprite.png?d=20111130);background-position: -1px -134px;background-repeat: no-repeat;    
}

#icon4
{
width:20px;height:20px;margin-top:4px;background-image: url(http://andymartha.com/caffeine-monitor/wp-includes/images/admin-bar-sprite.png?d=20111130);background-position: -2px -182px;background-repeat: no-repeat;    
}

#icon5
{
position:relative; float:left; height:28px; width:28px; background-image: url(http://andymartha.com/caffeine-monitor/wp-admin/images/menu.png?ver=20120201);background-position: -269px -33px;background-repeat: no-repeat;    
}

#icon5:hover
{
position:relative; float:left; height:28px; width:28px; background-image: url(http://andymartha.com/caffeine-monitor/wp-admin/images/menu.png?ver=20120201);background-position: -269px 0px;background-repeat: no-repeat;    
}

#icon6
{
position:relative; float:left; height:28px; width:28px; background-image: url(http://andymartha.com/caffeine-monitor/wp-admin/images/menu.png?ver=20120201);background-position: -119px -33px;background-repeat: no-repeat;    
}

#icon6:hover
{
position:relative; float:left; height:28px; width:28px; background-image: url(http://andymartha.com/caffeine-monitor/wp-admin/images/menu.png?ver=20120201);background-position: -119px 0px;background-repeat: no-repeat;    
}

#icon7
{
position:relative; float:left; height:28px; width:28px; background-image: url(http://andymartha.com/caffeine-monitor/wp-admin/images/menu.png?ver=20120201);background-position: -89px -33px;background-repeat: no-repeat;    
}

#icon7:hover
{
position:relative; float:left; height:28px; width:28px; background-image: url(http://andymartha.com/caffeine-monitor/wp-admin/images/menu.png?ver=20120201);background-position: -89px 0px;background-repeat: no-repeat;    
}

#icon8
{
position:relative; float:left; height:28px; width:28px; background-image: url(http://andymartha.com/caffeine-monitor/wp-admin/images/menu.png?ver=20120201);background-position: -149px -33px;background-repeat: no-repeat;    
}

#icon8:hover
{
position:relative; float:left; height:28px; width:28px; background-image: url(http://andymartha.com/caffeine-monitor/wp-admin/images/menu.png?ver=20120201);background-position: -149px 0px;background-repeat: no-repeat;    
}

#icon9
{
position:relative; float:left; height:28px; width:28px; background-image: url(http://andymartha.com/caffeine-monitor/wp-admin/images/menu.png?ver=20120201);background-position: -29px -33px;background-repeat: no-repeat;    
}

#icon9:hover
{
position:relative; float:left; height:28px; width:28px; background-image: url(http://andymartha.com/caffeine-monitor/wp-admin/images/menu.png?ver=20120201);background-position: -29px 0px;background-repeat: no-repeat;    
}

#icon10
{
position:relative; float:left; height:28px; width:28px; background-image: url(http://andymartha.com/caffeine-monitor/wp-admin/images/menu.png?ver=20120201);background-position: 1px -33px;background-repeat: no-repeat;    
}

#icon10:hover
{
position:relative; float:left; height:28px; width:28px; background-image: url(http://andymartha.com/caffeine-monitor/wp-admin/images/menu.png?ver=20120201);background-position: 1px 0px;background-repeat: no-repeat;    
}

#icon11
{
position:relative; float:left; height:28px; width:28px; background-image: url(http://andymartha.com/caffeine-monitor/wp-admin/images/menu.png?ver=20120201);background-position: -179px -33px;background-repeat: no-repeat;    
}

#icon11:hover
{
position:relative; float:left; height:28px; width:28px; background-image: url(http://andymartha.com/caffeine-monitor/wp-admin/images/menu.png?ver=20120201);background-position: -179px 0px;background-repeat: no-repeat;    
}

#icon12
{
position:relative; float:left; height:28px; width:28px; background-image: url(http://andymartha.com/caffeine-monitor/wp-admin/images/menu.png?ver=20120201);background-position: -300px -33px;background-repeat: no-repeat;    
}

#icon12:hover
{
position:relative; float:left; height:28px; width:28px; background-image: url(http://andymartha.com/caffeine-monitor/wp-admin/images/menu.png?ver=20120201);background-position: -300px 0px;background-repeat: no-repeat;    
}

#icon13
{
position:relative; float:left; height:28px; width:28px; background-image: url(http://andymartha.com/caffeine-monitor/wp-admin/images/menu.png?ver=20120201);background-position: -209px -33px;background-repeat: no-repeat;    
}

#icon13:hover
{
position:relative; float:left; height:28px; width:28px; background-image: url(http://andymartha.com/caffeine-monitor/wp-admin/images/menu.png?ver=20120201);background-position: -209px 0px;background-repeat: no-repeat;    
}

#icon14
{
position:relative; float:left; height:28px; width:28px; background-image: url(http://andymartha.com/caffeine-monitor/wp-admin/images/menu.png?ver=20120201);background-position: -239px -33px;background-repeat: no-repeat;    
}

#icon14:hover
{
position:relative; float:left; height:28px; width:28px; background-image: url(http://andymartha.com/caffeine-monitor/wp-admin/images/menu.png?ver=20120201);background-position: -239px 0px;background-repeat: no-repeat;    
}

#homeicon
{
position:absolute; top:28px; left:0px; float:left; height:31px; width:160px;
}



